// Primary Color
$color-primary: #FEF4F5;
$border-focus: #FED6D7;
$border-default: #EAE8E8;
$color-placeholder: #DCDADA;

$color-red-primary: #F72121;
$color-red-primary-200: #fadfda;
$color-red-primary-500: #dc5e4f;
$color-red-primary-600: #db2f1a;

// Functional Color
$color-green-functional: #0ed346;
$color-green-functional-200: #d7f5dc;
$color-green-functional-500: #ebfaee;
$color-blue-functional: #edf3fd;
$color-blue-functional-200: #dbe7fa;
$color-blue-functional-500: #3d8af2;
$color-yellow-functional: #fdf8ed;
$color-yellow-functional-200: #fbf1dc;
$color-yellow-functional-500: #ffcc59;

// Dark Color
// Dark Color
$color-dark-functional: #f3f6fb;
$color-dark-functional-100: #eceef4;
$color-dark-functional-200: #e5e7ec;
$color-dark-functional-300: #dcdfe6;
$color-dark-functional-400: #7b8799;
$color-dark-functional-500: #465773;
$color-dark-functional-600: #11284d;

//color-primary
$color-white: #ffffff;
$color-text-primary: #F8879C;
$color-black: #141416;
$color-background-default: #f9f9f9;
$color-slide-out: #e5e5e5;

//color-btn
$color-btn: #DC5E4F;
$color-text: #11284D;
$color-text-disable: #7B8799;
$color-background: #f9f9f9;
