// Primary Color
$color-primary: #FEF4F5;
$border-focus: #FED6D7;
$border-default: #EAE8E8;
$color-placeholder: #DCDADA;
$color-red-primary: #F72121;

//color-primary
$color-white: #ffffff;
$color-text-primary: #F8879C;
$color-black: #141416;
$color-blue: #38B4B8;
$color-blue-2: #2086F9;
$color-blue-3: #EAF9F9;

//color-text
$color-text-1: #141416;
$color-text-2: #B2ABAB;

//bg-color
$color-bg-footer: #F7F7F7;
$color-bg-btn: #FFE8E8;

//color-button
$color-button-danger: #F8879C;
$color-button-hover: #FFA8B8;
$color-button-focus: #F25976;
$color-button-disable: #DCDADA;
