// Primary Color
$color-primary: #FEF4F5;
$border-focus: #FED6D7;
$border-default: #EAE8E8;
$color-placeholder: #DCDADA;
$color-red-primary: #F72121;
$color-form-chat: #F9F9F9;

//color-primary
$color-white: #ffffff;
$color-text-primary: #F8879C;
$color-black: #141416;
$color-blue: #38B4B8;
$color-blue-2: #2086F9;
$color-blue-3: #EAF9F9;
$color-blue-4: #14A0A5;
$color-orange: #FFAB49;
$color-green: #0ABF5F;
$color-red: #F62121;
$color-yellow: #FFEC42;

  //color-text
$color-text-1: #141416;
$color-text-2: #B2ABAB;
$color-text-3: #B3ABAB;

//bg-color
$color-bg-footer: #F7F7F7;
$color-bg-btn: #FFE8E8;

//color-button
$color-button-danger: #F8879C;
$color-button-hover: #FFA8B8;
$color-button-focus: #F25976;
$color-button-disable: #DCDADA;

$color-dark: #324054;


$--color-primary: #F8879C !default;

//color-toast
$color-bg-success: #F1FFF7;
$color-border-success: #4AD78B;
$color-bg-error: #FFF5F5;
$color-border-error: #FD9090;
$color-bg-warning: #FFF5EA;
$color-border-warning: #FFCA8B;
