.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $color-white;
  margin-top: 25px;
  .container-footer {
    .footer-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
      color: $color-text-1;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      margin: 32px 0 16px;
    }
    .logo {
      text-align: center;
      padding-top: 27px;
      border-top: 4px solid $color-dark-100;
    }
    .copy-right {
      text-align: center;
      margin-top: 7px;
      color: $color-text-3;
      font-weight: 300;
      font-size: 12px;
      line-height: 22px;
      padding-bottom: 10px;
    }
    .top-arrow {
      cursor: pointer;
      position: relative;
      display: block;
      text-align: right;
      margin-right: 56px;
      height: 67px;
    }
  }
}
