.header-container {
  display: flex;
  justify-content: space-between;
  .header-logo {
    font-family: 'Croissant One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }
}