.header-common {
  height: 73px;
  .header-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    .header-logo {
      cursor: pointer;
      margin: 20px 33px;
    }
    .header-content {
      height: 73px;
      display: flex;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      padding-right: 60px;
      .button-action {
        display: flex;
        position: relative;
        span {
          margin-left: 6px;
          font-size: 16px;
          line-height: 24px;
        }
        div {
          display: flex;
          margin: auto 0;
          cursor: pointer;
        }
        img {
          width: 24px;
          height: 24px;
        }
        .border-default {
          border: 1px solid $color-placeholder;
          height: 24px;
          margin: auto 14px;
        }
      }
      .button-register {
        color: $color-blue;
        cursor: pointer;
        margin: 28px 0;
        span {
          line-height: 28px;
          margin-left: 20px;
          margin-right: 30px;
        }
      }
      .button-login {
        margin: 16px 60px 16px 40px;
        button {
          padding: 8px 12px;
          img {
            margin-right: 6px;
          }
          span {
            display: flex;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .show-action-user {
        padding: 19px 0;
        margin-left: 40px;
        .content-user {
          display: flex;
          span {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            margin: 4px 8px;
            color: $color-black;
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            width: 100px;
          }
          img {
            width: 24px;
            height: 24px;
            margin: 6px 0 6px 4px;
          }
          .avatar {
            cursor: pointer;
            margin: 0;
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.no-data-element {
  padding: 54px 0 87px;
  display: flex;
  .no-data-content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: auto;
    img {
      display: flex;
      margin: auto;
    }
  }
}
