.inquiry-page {
  .inquiry-content {
    padding: 54px 64px;
    .inquiry-container {
      display: grid;
      grid-template-columns: 67% 29%;
      gap: 4%;

      .left-container {
        .inquiry-title {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: $color-text-primary;
          background: $color-primary;
          padding: 11px 0 11px 19px;
          border-left: 5px solid $--color-primary;
        }
        .description {
          margin-top: 22px;
        }
        .description2 {
          margin: 15px 0 32px;
        }
      }

      .right-container {
        .here {
          background: $color-text-primary;
          border-radius: 4px 4px 0 0;
          padding: 10px 47px;
          color: $color-white;
        }
        .schedule-des {
          background: $color-primary;
          border-radius: 4px;
          padding-bottom: 20px;
          .phone-number {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            color: $color-blue;
            padding: 20px 0 14px;
          }
        }
      }
    }
  }
}

