.card-component {
  width: 100%;
  .favorite-job-element {
    padding: 1.5rem;
    border: 2px solid $border-focus;
    border-radius: 4px;
    margin-left: 29px;
    margin-bottom: 24px;

    .card-text-title {
      margin-bottom: 1em;
    }

    .job-title {

      margin-bottom: 21px;
      min-width: 214px;

      .title-left {
        margin-left: 1.5rem;

        .card-subtitle {
          margin: 0.5rem 0 18px 0
        }
      }

      .avatar-img {
        width: 190px;
        height: 190px;
        border-radius: 4px;
      }

      .social-media {
        img {
          margin-right: 9px;
        }
      }
    }

    .job-box {
      display: grid;
      grid-template-columns: 170px calc(100% - 160px);
      width: 100%;
      .left-item {
        background: $color-blue-3;
        border-radius: 4px;
        height: 96%;

        p {
          margin-left: 1.5rem;
        }
      }

      .right-item {
        border-bottom: 1px solid $border-default;
        margin-left: 20px;

        .social-media {
          display: flex;
          margin-top: 12px;
          img {
            margin-right: 13px;
            width: 32px;
            height: 32px;
          }
        }

        &.first-right-item {
          border-top: 1px solid $border-default;
        }

        .text-ellipsis {
          text-overflow: ellipsis;
          overflow: hidden;
          //white-space: nowrap;
          width: 90%;
        }

        .item-status {
          gap: 0.625rem;

          .text-status {
            color: $color-text-primary;
            border: 1px solid $color-text-primary;
            border-radius: 2px;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            padding: 3px 8px;
            width: fit-content;
          }
        }

        &#img-detail {
          img {
            padding-right: 20px;
          }
          .img-detail {
            margin: 16px 0 20px 0;
          }
        }
        .img-detail {
          margin: 15px 0 15px 0;
          img {
            margin-right: 20px;
          }
        }
      }
    }

    .union-icon {
      margin-right: 0.75rem;
    }
    .img-detail-mobile {
      display: none;
    }
  }
}
.favorite-job-element {
  padding: 1.5rem;
  border: 2px solid $border-focus;
  border-radius: 4px;
  margin-left: 29px;

  .card-text-title {
    margin-bottom: 1em;
  }

  .job-title {

    margin-bottom: 21px;

    .title-left {
      margin-left: 1.5rem;

      .card-subtitle {
        margin: 0.5rem 0 18px 0
      }
    }

    .avatar-img {
      margin-right: 1.5em;
    }

    .social-media {
      img {
        margin-right: 9px;
      }
    }
  }

  .job-box {
    display: grid;
    grid-template-columns: 170px calc(100% - 160px);

    .left-item {
      background: $color-blue-3;
      border-radius: 4px;
      height: 96%;

      p {
        margin-left: 1.5rem;
      }
    }

    .right-item {
      border-bottom: 1px solid $border-default;
      margin-left: 20px;
      height: 100%;

      &.first-right-item {
        border-top: 1px solid $border-default;
      }

      .text-wide {
        min-height: 80px;
        margin-top: 16px;
      }

      .text-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        //white-space: nowrap;
        width: 90%;
      }

      .item-status {
        gap: 0.625rem;

        .text-status {
          color: $color-text-primary;
          border: 1px solid $color-text-primary;
          border-radius: 2px;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          padding: 3px 8px;
          width: fit-content;
        }
      }

      &#img-detail {
        img {
          padding-right: 20px;
        }
        .img-detail {
          margin: 16px 0 20px 0;
        }
      }
    }
  }

  .union-icon {
    margin-right: 0.75rem;
  }
  .img-detail-mobile {
    display: none;
  }
  .btn-option {
    margin-top: -8px;
    img {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: bottom;
    }
    .btn-edit {
      border: 1px solid $color-blue;
      margin-right: 6px;
      color: $color-blue;
    }
    .btn-remove {
      border-radius: 4px;
      color: $color-red;
    }
    .btn-green, .btn-red {
      line-height: 20px;
    }
  }
  .btn-option-mobile {
    display: none;
  }
}
.career-job-page-element {
  width: 100%;
  .favorite-job-page-content {
    .job-element {
      margin-bottom: 24px;
    }
    #btn-center {
      margin: 24px 0 0 29px;
      .btn-right {
        margin-left: 22px;
      }
    }

    #career {
      .el-button--danger {
        font-weight: 500;
      }
      img {
        vertical-align: text-top;
      }
    }
    #career-mobile {
      display: none;
    }
  }
}
