.job-detail-page {
  margin: auto;
  max-width: 1280px;
  .job-detail-header {
    margin: 18px 64px;
    border-bottom: 2px solid $border-focus;
    .job-detail-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
    }
    .job-detail-store-name {
      margin-top: 12px;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      display: flex;
      justify-content: space-between;
      .last-updated {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $color-text-3;
      }
    }
  }
  .job-detail-content {
    padding: 0 64px;
    .button-pickup {
      display: flex;
      justify-content: space-between;
      .el-button {
        span {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
        }
      }
      .about-job {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $color-blue;
        display: flex;
        cursor: pointer;
        margin-top: 16px;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .pick-up-point {
        border-top-right-radius: 80px 80px;
        border-bottom-right-radius: 80px 80px;
        background-color: $color-red;
        padding: 11px 19px 11px 8px;
      }
      .show-sp {
        .pick-up-point {
          padding: 0 14px 0 8px;
          position: relative;
          left: -12px;
          .pick-up-text {
            font-size: 12px;
          }
        }
      }
    }
    .sub-detail-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin: 24px 0 28px;
    }
    .detail-job-image-pc {
      display: grid;
      grid-template-columns: 75% calc(25% - 10px);
      column-gap: 10px;
      .job-avatar {
        display: flex;
        img {
          width: 100%;
          max-height: 577px;
          object-fit: cover;
        }
      }
      .job-detail {
        display: grid;
        gap: 7.5px;
        .image-detail {
          img {
            width: 100%;
            max-height: 184px;
            object-fit: cover;
          }
        }
      }
    }
    .detail-job-image {
      .job-avatar {
        display: flex;
        img {
          width: 100%;
          max-height: 767px;
          object-fit: cover;
        }
      }
      .job-detail {
        margin-top: 24px;
        display: flex;
        .image-detail {
          width: 31.97%;
          margin-right: 24px;
          display: flex;
          img {
            width: 100%;
            max-height: 245px;
            object-fit: cover;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .form-application {
      box-shadow: 0 1px 7px rgba(177, 175, 175, 0.25);
      border-radius: 6px;
      padding: 24px;
      margin: 38px 0 36px;
      .form-application-content {
        position: relative;
        border: 3px solid $color-text-primary;
        border-radius: 6px;
        padding: 40px 34px 24px;
        .form-application-title {
          font-weight: 700;
          font-size: 24px;
          line-height: 32px;
          color: $color-text-primary;
          text-align: center;
          padding: 1px 30px 4px;
          position: absolute;
          top: -17px;
          left: calc(50% - 78.5px);
          background: $color-white;
          width: 97px;
        }
        .form-application-detail {
          border-radius: 6px;
          overflow: hidden;
          .application-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2px;
            &:first-child {
              margin-bottom: 2px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            .application-item-left {
              display: inline-block;
              width: 166px;
              background: $color-blue;
              color: $color-white;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              padding: 16px 0 16px 24px;
            }
            .application-item-right {
              display: inline-block;
              width: calc(100% - 211px);
              background: $color-blue-3;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              padding: 16px 0 16px 16px;
            }
          }
        }
      }
    }
    .job-button-detail {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 24px;
      img {
        margin-right: 6px;
      }
      .button-like {
        width: 160px;
        display: flex;
        padding: 11px 0;
        border: 1px solid $color-blue;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        justify-content: center;
        color: $color-blue;
        margin: 12px;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .button-dislike {
        width: 160px;
        display: flex;
        padding: 11px 0;
        border: 1px solid $color-blue;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        justify-content: center;
        margin: 12px;
        background: $color-blue;
        color: $color-white;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .button-detail {
        display: inline-block;
        width: 150px;
        margin: 12px;
        .el-button {
          width: 100%;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $color-white;
          background-color: $color-button-danger;
          padding: 12px 0;
          border: none;
        }
        .el-disabled {
          background-color: $color-button-disable;
          cursor: not-allowed;
        }
      }
    }
    .form-list-new-social {
      top: 14px;
      left: 0;
      display: flex;
      justify-content: space-between;
      position: absolute;
      a {
        margin-right: 13px;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .application-requirement {
      padding: 14px 0;
      .application-requirement-item {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        line-height: 24px;
        .application-requirement-left {
          background-color: $color-blue-3;
          width: 170px;
          font-weight: 700;
          border-radius: 4px;
          border-bottom: 1px solid $color-white;
          span {
            margin: 16px 24px;
            display: block;
          }
        }
        .application-requirement-right {
          width: calc(100% - 194px);
          border-bottom: 1px solid $border-default;
          padding: 16px 0;
          font-weight: 500;
          .show-button-google-map {
            margin-bottom: 0;
            display: flex;
            padding-left: 24px;
            position: relative;
            margin-top: 10px;
            img {
              width: 24px;
              height: 24px;
              position: absolute;
              left: 0;
            }
            span {
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: $color-blue;
            }
          }
          .employment-status-item {
            color: $color-text-primary;
            border: 1px solid $color-text-primary;
            border-radius: 2px;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            padding: 3px 8px;
            width: fit-content;
            display: inline-block;
            margin-right: 8px;
          }
          .show-salary {
            margin-bottom: 10px;
          }
          .form-list-new-social {
            position: relative;
            justify-content: flex-start;
            top: 0;
            height: 40px;
          }
        }
      }
    }
    .title-component {
      border-left: 5px solid $color-text-primary;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      padding: 11px 24px;
      color: $color-text-primary;
      background-color: $color-primary;
      margin-bottom: 14px;
    }
    .recently-viewed-job {
      .view-job-content {
        margin: 0 -12px;
        .slick-dots {
          li {
            button {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: $border-focus;
              &::before {
                content: '';
              }
            }
          }
          .slick-active{
            button {
              background-color: $color-text-primary;
            }
          }
        }
      }
    }
    .jobs-similar-job {
      margin-top: 106px;
      .jobs-similar-job-title {
        height: 54px;
        display: flex;
        justify-content: space-between;
        background: $color-primary;
        border-left: 5px solid $color-text-primary;
        margin-bottom: 24px;
        .title-component {
          border-left: none;
          margin-bottom: 0;
        }
        .button-see-all {
          display: flex;
          margin: auto 15px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $color-text-primary;
          cursor: pointer;
        }
      }
    }
    .find-other-job {
      .find-other-job-content{
        padding: 24px;
        border: 2px solid $border-focus;
        border-radius: 4px;
        .find-other-job-item {
          padding-top: 4px;
          display: flex;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          height: 24px;
          a {
            padding: 0 4px;
            color: $color-blue;
            border-right: 1px solid $color-button-disable;
            &:last-child {
              border-right: none;
            }
          }
        }
      }
    }
  }
}

.form-dialog-apply {
  .el-dialog {
    padding: 32px 32px 24px;
    .el-dialog__header {
      padding: 0;
      background-color: $color-primary;
      border-left: 5px solid $color-text-primary;
      position: relative;
      .el-dialog__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: $color-text-primary;
        padding: 11px 19px;
        display: inline-block;
      }
      .el-dialog__headerbtn {
        top: 11px;
        right: 14px;
        i {
          width: 32px;
          height: 32px;
          font-size: 32px;
          color: $color-black;
          &::before {
            width: 32px;
            height: 32px;
            font-weight: 500;
          }
        }
      }
    }
    .el-dialog__body {
      padding: 22px 0;
      color: $color-black;
      .header-search {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        .header-search-right {
          border-top: 1px solid $border-default;
          .show-result-condition {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            margin-top: 12px;
          }
          .el-button {
            height: 48px;
            padding: 11px 21px;
            span {
              display: flex;
              justify-content: center;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              img {
                width: 24px;
                height: 24px;
                margin-right: 6px;
              }
            }
          }
        }
        .search-apply {
          width: calc(50% - 8px);
          display: flex;
          justify-content: space-between;
        }
        .search-work-location {
          width: calc(50% - 8px);
          display: flex;
          justify-content: space-between;
        }
      }
      .header-search-left {
        width: 116px;
        background-color: $color-blue-3;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        padding: 16px 0 16px 24px;
        border-radius: 4px;
      }
      .header-search-right {
        width: calc(100% - 156px);
        margin-left: 16px;
        border-bottom: 1px solid $border-default;
        padding: 12px 0;
        .el-form-item {
          margin-bottom: 0;
        }
      }
      .interview-time {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin: 20px 0 24px;
      }
      .title-form {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: $color-blue;
      }
      .form-change-method {
        .method-content {
          margin-top: 20px;
          .el-checkbox {
            width: max-content;
          }
          .el-radio-group {
            .el-radio {
              display: block;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 18px;
              margin-right: 0;
            }
          }
        }
        .method-note {
          margin: 2px 0 24px;
          span {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
          .danger {
            color: $color-red-primary;
          }
        }
      }
      .form-question {
        .question-note {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $color-text-3;
          margin: 12px 0 20px;
        }
        .question-content {
          textarea {
            border-radius: 4px;
            border: 2px solid $border-default;
            &:hover {
              border: 2px solid $border-default;
            }
            &::placeholder {
              color: $color-placeholder;
            }
          }
        }
      }
    }
    .el-dialog__footer {
      .dialog-footer {
        display: flex;
        justify-content: center;
        button {
          width: 150px;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
        }
        .el-button--primary.is-plain {
          background-color: $color-white;
          border-color: $color-blue;
          color: $color-blue;
        }
      }
    }
  }
}

.form-dialog-about{
  .el-dialog {
    .el-dialog__body {
      padding-top: 12px;
      .interview-time {
        margin: 0 0 20px;
      }
      .form-change-method {
        .method-content {
          .el-checkbox-group {
            .el-checkbox {
              margin-bottom: 16px;
            }
          }
          .el-input {
            margin-left: 34px;
            width: 40%;
            margin-bottom: 24px;
          }
        }
      }
      .form-question {
        .question-content {
          margin-top: 16px;
        }
      }
    }
  }
}
