.login-page {
  background: $color-primary;
  display: flex;
  height: 100vh;
  #register-element {
    .login-title {
      margin: 0 auto 1.5em;
    }
  }
  #forgot-des {
    width: 550px;
    margin-bottom: 2.5rem;
  }
  .login-element {
    max-width: 1280px;
    margin: auto;
    .login-title {
      text-align: center;
      margin: 123px auto 1.5em;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      width: 550px;
    }
    form {
      width: 550px;
    }
    .image-login {
      padding-left: 55px;
    }
    .password-login {
      margin-top: 32px;
      margin-bottom: 32px;
    }
    .link-register {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: $color-text-primary;
      cursor: pointer;
    }
    .check-remember {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      .forgot-password {
        color: $color-text-primary;
        cursor: pointer;
      }
    }
    .button-login {
      margin-top: 48px;
      margin-bottom: 32px;
      button {
        width: 100%;
      }
    }
    .el-button {
      padding: 12px;
      text-align: center;
      height: 48px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      background-color: $color-text-primary;
      border: none;
      &:hover {
        opacity: 0.8;
      }
    }
    .description {
      margin-top: 3rem;
      .el-checkbox {
        align-items: center;
      }
      .el-checkbox__label {
        white-space: pre-line;
      }
    }
    .terms {
      margin-left: 0.5rem;
    }
    #here-login {
      display: none;
    }
    .el-input__suffix {
      display: flex;
      align-items: center;
      cursor: pointer;
      right: 17px;
      .icon-show-pass {
        display: flex;
      }
    }
  }
  .label {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $color-black;
    margin-bottom: 5px;
  }
}
